@import url("https://fonts.googleapis.com/css?family=Saira+Condensed");
body {
  width: 100%;
  margin: 0;
  overflow: hidden;
  font-family: "Mazagan Super Italic";
  background: hsla(0, 0%, 0%, 1);
}
